/*----------------------------------------*/
/*  01. Theme default CSS
/*----------------------------------------*/

/*-- Google Font --*/
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i|Rubik:300,300i,400,400i,500,500i,700,700i,900,900i|Prata&subset=cyrillic,cyrillic-ext,vietnamese');


/*-- Common Style --*/
*, *::after, *::before {
  box-sizing: border-box;
}
html, body {
    height: 100%;
}
body{
    line-height: 24px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    visibility: visible;
    font-family: $Rubik;
    color: $white;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin-top: 0;
    font-family: $Rubik;
}
h1 {
    font-size: 48px;
    line-height: 1;
    font-weight: 700;
}
h2 {
    font-size: 36px;
    line-height: 36px;
}
h3 {
    font-size: 30px;
    line-height: 30px;
}
h4 {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
}
h5 {
    font-size: 14px;
    line-height: 18px;
}
h6 {
    font-size: 12px;
    line-height: 14px;
}
p:last-child {
    margin-bottom: 0;
}

a, button {
    color: inherit;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;

    &:hover{
        color: $secondary_color13;
    }
}
.btn:focus{
    box-shadow: none;
}
a, button, img, input, span {
    transition: all 0.3s ease 0s;
}
*:focus {
    outline: none !important;
}
a:focus {
    color: inherit;
    outline: none;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
button, input[type="submit"] {
    cursor: pointer;
}
img {max-width:100%;height:auto}
ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

/*-- 
    - Common Classes
-----------------------------------------*/
.fix {
    overflow:hidden
}
.hidden {
    display: none;
}
.clear{
    clear: both;
}
@media #{$large-mobile}{
    .container {
        max-width: 500px;
    }
}
@media #{$small-mobile}{
    .container {
        width: 100%;
    }
}

.capitalize {
    text-transform: capitalize;
}
.uppercase {
    text-transform: uppercase;
}

.no-gutters > .col, .no-gutters > [class*="col-"] {
	padding-right: 0;
	padding-left: 0;
    margin: 0;
}

/*-- 
    - Background color
-----------------------------------------*/
.bg-white {
    background-color: $white;
}
.bg-light-grey {
    background-color: $light-grey;
}

.bg-grey {
    background-color: #f8f8f8;
}
.bluewood-bg {
    background: #354b65;
}

/*- Overlay Color BG -*/

.bluewood-bg-overlay {
    position: relative;
    &::before {
        background: rgba(70, 90, 112, 0.9);
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}
.overly-bg-black {
    position: relative;
    &::after {
        background: rgba(0, 0, 0, 0.3);
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}
/*-- 
    - color
-----------------------------------------*/

/*-- 
    - Input Placeholder
-----------------------------------------*/
input:-moz-placeholder, textarea:-moz-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
input::-moz-placeholder, textarea::-moz-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

/*-- 
    Scroll Up 
-----------------------------------------*/

#scrollUp {
	background: $fonts_color2 none repeat scroll 0 0;
	bottom: 85px;
	color: #ffffff;
	cursor: pointer;
	display: none;
	font-size: 20px;
	height: 45px;
	line-height: 39px;
	position: fixed;
	right: 12px;
	text-align: center;
	width: 45px;
	z-index: 9999;
	border-radius: 50%;
	border: 2px solid #fff;
	-webkit-transition: .3s;
	transition: .3s;
     &:hover i {
        animation-name: fadeInUp;
        animation-duration:1s;
        animation-fill-mode:both;
        animation-iteration-count: infinite;
    }
}

/*-- 
    - Main Wrapper
-----------------------------------------*/
.main-wrapper {
    &.header-transparent {
        padding: 0 !important;
        margin: 0 !important;
    }
}
/*-- 
    - Section Padding
-------------------------------------*/
// Padding Top Bottom 
.section-ptb {
    padding: 100px 0;
    @media #{$desktop-device} {
        padding: 90px 0;
    }
    @media #{$tablet-device} {
        padding: 80px 0;
    }
    @media #{$large-mobile} {
        padding: 70px 0;
    }
    @media #{$small-mobile} {
        padding: 60px 0;
    }
}
// Section Padding Top
.section-pt {
    padding-top: 100px;
    
    @media #{$desktop-device} {
        padding-top: 90px;
    }
    @media #{$tablet-device} {
        padding-top: 80px;
    }
    @media #{$large-mobile} {
        padding-top: 70px;
    }
    @media #{$small-mobile} {
        padding-top: 60px;
    }
}
.section-pt-70 {
    padding-top: 70px;
    
    @media #{$desktop-device} {
        padding-top: 60px;
    }
    @media #{$tablet-device} {
        padding-top: 50px;
    }
    @media #{$large-mobile} {
        padding-top: 40px;
    }
    @media #{$small-mobile} {
        padding-top: 30px;
    }
}
.section-pb-70 {
    padding-bottom: 80px;
    
    @media #{$desktop-device} {
        padding-bottom: 60px;
    }
    @media #{$tablet-device} {
        padding-bottom: 50px;
    }
    @media #{$large-mobile} {
        padding-bottom: 40px;
    }
    @media #{$small-mobile} {
        padding-bottom: 30px;
    }
}
// Section Padding Bottom
.section-pb {
    padding-bottom: 100px;
    
    @media #{$desktop-device} {
        padding-bottom: 90px;
    }
    @media #{$tablet-device} {
        padding-bottom: 80px;
    }
    @media #{$large-mobile} {
        padding-bottom: 70px;
    }
    @media #{$small-mobile} {
        padding-bottom: 60px;
    }
}
