
/* transition */
@mixin transition($property){
    -webkit-transition: $property;
        transition: $property;
}

/* flex */
@mixin flex($property){
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center
}

/* transform */
@mixin transform($property) {
  -webkit-transform: $property;
      -ms-transform: $property;
          transform: $property;
}


/* opacity */
@mixin opacity($opacity){
    opacity: $opacity;
    -ms-filter: $opacity;
}

@mixin rotate($deg) {
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    -o-transform: rotate($deg);
    transform: rotate($deg);
}

@mixin border_radius($amount) {
    -webkit-border-radius: $amount;
    -moz-border-radius: $amount;
    border-radius: $amount;
}

@mixin box_shadow($rule) {
    -moz-box-shadow:    $rule;
    -webkit-box-shadow: $rule;
    box-shadow:         $rule;
}