// Font Family
$Rubik:'Rubik', sans-serif;
$Playfair:'Playfair Display', serif;
$Prata:'Prata', serif;

*{
    box-sizing: border-box;
}


// Colors ---------------

// Theme Color

$fonts_color:#5a5a5a;
$primary_color: #2e2e2e;

$fonts_color2:#212121;
$fonts_color3:#a4a4a4;

$fonts_color4:#b5b5b5;
$fonts_color5:#f1f1f1;

$fonts_color6:#242424;
$fonts_color7:#808080;

$fonts_color9:#a7a7a7;
$fonts_color10:#222;

$fonts_color11:#2f2f2f;
$fonts_color12:#ccc;


$secondary_color: #c09578;
$secondary_color2:#f6f6f6;
$secondary_color3:#7d7d7d;

$secondary_color4:#292929;
$secondary_color5: #f2f2f2;

$secondary_color6: #1c456c;
$secondary_color7: #1b181f;

$secondary_color8: #FFB322;
$secondary_color9: #27b7d5;
$secondary_color10: #999;

$secondary_color11: #f8f9f9;
$secondary_color12: #2d2d2d;

$secondary_color13: #a8741a;

$white: #ffffff;
$black: #000000;

// Dark Color
$grey_color: #ebebeb;
$dark_grey: #747474;

// Light Color
$light-grey: #f6fafb;
$light: #191919;



// Body Color
$body-color: #fff;
$body-color-light: #909090;


// Body Color
$grey-light: #f0f0f0;
$grey-dark: #e4e4e4;

// Heading Color
$heading-color: #333333;
$heading-color-light: #505050;





// Responsive Variables
$extraBig-device : 'only screen and (min-width: 1600px)';
$laptop-device : 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$desktop-device : 'only screen and (min-width: 992px) and (max-width: 1199px)';
$tablet-device:'only screen and (min-width: 768px) and (max-width: 991px)';
$large-mobile:'only screen and (max-width: 767px)';
$small-mobile2: 'only screen and (max-width: 575px)';
$small-mobile: 'only screen and (max-width: 479px)';

