/*-----------------------------------------------------------------------------------
    CSS INDEX
    =========================================
    01. header css here
    02. slider area css here
    03. product section css here
    04. banner section css here 
    05. blog area css here
    06. newsletter area css here
    07. footer area css here
    08. shop page css here
    09. error page css heer 
    10. about page css here
    11. blog page css here 
    12. blog details css here
    13. cart page css here
    14. checkout page css here
    15. contact page css here
    16. faq page css here
    17. login page css here
    18. my account css here
    19. portfolio page css here
    20. services page css here
    21. shipping css here
    22. wishlist css here
    23. newsletter popup css here
    24. modal css here
    25. privacy-policy css here
    26. compare css here
    27. coming soon css here
    
    

-----------------------------------------------------------------------------------*/

@import 'variabls';
@import 'mixin';
@import 'common';
@import 'element/button';
@import 'section/header';
@import 'section/slider';
@import 'section/banner';
@import 'section/product';
@import 'section/blog';
@import 'section/newsletter';
@import 'section/shipping';
@import 'section/footer';
@import 'section/collection';
@import 'section/shop';
@import 'section/product-details';
@import 'section/cart-page';
@import 'section/checkout';
@import 'section/wishlist';
@import 'section/contact';
@import 'section/login';
@import 'section/faq';
@import 'section/my-account';
@import 'section/about';
@import 'section/services';
@import 'section/portfolio';
@import 'section/blog-page';
@import 'section/blog-details';
@import 'section/quick-view';
@import 'section/newsletter-popup';
@import 'section/404';
@import 'section/privacy-policy';
@import 'section/compare';
@import 'section/coming-soon';


// Customer Forms
.account {
  .nav-tabs {
    border-right: none;
  }

  .form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 2em;
  }

  .header, .form-controls {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .form-controls{
    .btn-link{
      padding: 0;
    }
    .btn-submit{
      margin-bottom: 1rem ;
    }
  }

  .header.secondary-header {
    margin-top: 2rem;
  }

  .btn {
    color: $white;
    background-color: $secondary-color13;
    display: inline-block;
    outline: 0;
    border-radius: 0;
    font-weight: 600;
    font-size: 1.2rem;
    font-family: $Rubik;
    letter-spacing: -0.025em;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    transition: color .3s, border-color .3s, background-color .3s, box-shadow .3s;
    white-space: nowrap;
    cursor: pointer;

    &.btn-link {
      background: none;
      color: $secondary-color13;
    }

    &.btn-facebook, &.btn-google{
      margin-top: 1em;
    }
  }

  fieldset {
    border: none;
    margin: 2rem 0;
  }

  .form-field {
    margin-bottom: 1rem;
  }

  .form-input {
    font-size: 1rem;
    font-family: Poppins,sans-serif;
    transition: background-color .3s, border-color .3s;
    color: $grey-color;
    display: block;
    width: 100%;
    min-height: 3rem;
    padding: .85rem 1rem;
    border: 1px solid $grey_color;
    font-weight: 400;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    outline: 0;
  }

  .shipping-addresses-list {
    .list-group-item{
      background-color: $fonts_color6;
    }

    ul {
      list-style: none;

      li {
        background: #f6f7f9;
        border: 1px solid $grey-dark;
        padding: 1em 1.5rem;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-top: 10px;

        .badge {
          background: $secondary-color13;
          padding: .3em .75em;
          border-radius: 1em;
          font-size: 8pt;
          color: $white;
          margin-right: .5em;
        }
      }
    }
  }
}

//Contact
/* -------------------------------------------
    Contact Page
---------------------------------------------- */

.contact-us {
  .breadcrumb {
    padding: 1.2rem 0 1.1rem;
    li:last-child {
      color: $body-color;
    }
    li:not(:last-child) {
      a, &::after {
        opacity: .7;
      }
    }
  }
  .page-header { height: 30.2rem; }
  .page-title { font-size: 5rem; }
  .grey-section { background-color: #f7f7f9; }
  .store-section .title { font-size: 3rem; }
}

.grey-section {
  padding: 2.5rem 3.2rem 1.4rem;
  h4 {
    font-size: 2rem;
    line-height: 1.1;
  }
  p {
    margin-bottom: 3.2rem;
    line-height: 1.72;
  }
}

//Order History

.order-history{
  text-align: center;
  color: $white;

  .orders-table{
    color: $white;
  }

  .order-actions{
    a {
      @media(min-width:480px) {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
      }
    }
  }
}
.collection-info {
  position: absolute;
  padding: 1rem;
}

select {
  background-image:
          linear-gradient(45deg, transparent 50%, white 50%),
          linear-gradient(135deg, white 50%, transparent 50%),
          linear-gradient(to right, #ccc, #ccc);
  background-position:
          calc(100% - 20px) calc(1em + 2px),
          calc(100% - 15px) calc(1em + 2px),
          calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1px 1.5em;
  background-repeat: no-repeat;

  &:focus {
    background-image: linear-gradient(45deg, $secondary_color13 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, $secondary_color13 50%),
    linear-gradient(to right, #ccc, #ccc);
    background-position: calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
    background-size: 5px 5px,
    5px 5px,
    1px 1.5em;
    background-repeat: no-repeat;
    border-color: $secondary_color13;
    outline: 0;
  }
}

.color-swatch {
  .swatch {
    display: block;
    width: 25px;
    height: 25px;
    border: solid 2px #FFF;
    @include border_radius(50%);
    cursor: pointer;
  }

  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox]:checked + .swatch {
    @include box_shadow(0 0 0 1px $white);
  }
}

.footer_img{
  height: 50px;
}