/* 12. blog details css here */

.blog_details_wrapper{
    @media #{$tablet-device}{
      margin-bottom: 38px;
    }
    @media #{$large-mobile}{
      margin-bottom: 60px;
    }
    & .blog_thumb{
        margin-bottom: 31px;
        &::before{
            display: none;
        }
    }
    & .blog_content{
        text-align: left;
        & h3{
            font-size: 24px;
            text-transform: inherit;
            font-weight: 700;
            margin-bottom: 18px;
            line-height: 30px;
            color: $white;
        }
    }
    & .post_content{
        & > p{
            color: $white;
            line-height: 24px;
            margin-bottom: 10px;
            font-size: 15px;
        }
        & blockquote{
            border-left: 4px solid #c09578;
            color: #777;
            margin: 20px 0 20px 0;
            padding: 0 20px;
            font-style: italic;
        }
    }
    & .social_sharing{
        & ul{
            & li{
                display: inline-block;
                & a{
                    background: $fonts_color6;
                    border-radius: 100%;
                    display: inline-block;
                    font-size: 12px;
                    height: 26px;
                    line-height: 26px;
                    margin-right: 5px;
                    text-align: center;
                    width: 26px;
                    color: $white;
                    &:hover{
                        color: $fonts_color6;
                        background: $secondary_color13;
                    }
                }
                &:first-child{
                    & a{
                        padding-left: 0;
                        border-left: 0;
                    }
                }
            }
        }
    }
}

.entry_content {
    border-bottom: 1px solid $grey_color;
    padding-bottom: 26px;
    margin-bottom: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
    @media #{$large-mobile}{
       flex-direction: column;
    }
    & .post_meta{
        margin-bottom: 0;
        @media #{$large-mobile}{
            margin-bottom: 10px;
        }
    }
}


.comments_box{
    margin-bottom: 36px;
    border-top: 1px solid $grey_color;
    padding-top: 17px;
    @media #{$large-mobile}{
       margin-bottom: 51px
    }
    & h3{
        color: $fonts_color6;
        font-size: 24px;
        margin: 0 0 20px;
        font-weight: 700;
        line-height: 32px;
    }
}
.comment_list{
    overflow: hidden;
    margin-bottom: 30px;
    &:last-child{
        margin-bottom: 0;
    }
    & .comment_thumb{
        display: inline-block;
        float: left;
        @media #{$large-mobile}{
           width: 40px;
        }
    }
    & .comment_content{
       margin-left: 70px;
        position: relative;
        border: 1px solid #ebebeb;
        border-radius: 3px;
        padding: 15px;
        @media #{$large-mobile}{
            margin-left: 55px;
        }
        & h5{
            font-size: 12px;
            font-weight: 500;
            text-transform: uppercase; 
            margin-bottom: 5px;
            font-family: $Rubik;
            & a{
                color: $secondary_color;
                &:hover{
                    color: $fonts_color6;
                }
            }
        }
        & span{
            color: $fonts_color;
            line-height: 18px;
            margin-bottom: 8px;
            font-size: 12px;
            font-style: italic;
            display: inline-block;
        }
        & p{
            margin-bottom: 0;
            font-size: 14px;
             color: $fonts_color;
        }
    }
}
.comment_reply{
    position: absolute;
    top: 20px;
    right: 12px;
    & a{
        padding: 2px 8px;
        border-radius: 3px;
        color: #fff;
        background: #333;
        &:hover{
            background: $secondary_color;
        }
    }
}

.comments_form{
    & h3{
        color: $fonts_color6;
        font-size: 24px;
        margin: 0 0 20px;
        font-weight: 700;
        line-height: 32px;
    }
    & p{
        color: $fonts_color;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 12px;
    }
    & form{
         & .row{
            @media #{$tablet-device}{
               flex-direction: row;
            }
        }
        & label{
            color: $fonts_color6;
            font-size: 14px;
            line-height: 20px;
            font-weight: 700;
            margin-bottom: 10px;
        }
        & textarea{
            width: 100%;
            height: 200px;
            background: $white;
            border: 1px solid $grey_color;
            margin-bottom: 10px;
            resize: none;
            padding: 10px;
        }
        & input{
            width: 100%;
            height: 40px;
            border: 1px solid $grey_color;
            margin-bottom: 15px;
            padding: 0 20px;
        }
        & button{
            border: 0;
            line-height: 36px;
            background: #333;
            &:hover{
               background: $secondary_color;
            }
        }
    }
}
.comment_list.list_two {
	padding-left: 50px;
    @media #{$large-mobile}{
       padding-left: 0;
    }
}
.related_posts{
    margin-bottom: 52px;
    & .row{
        @media #{$tablet-device}{
           flex-direction: row !important;
        }
    }
    & h3{
        color: $fonts_color6;
        font-size: 24px;
        margin: 0 0 20px;
        font-weight: 700;
        line-height: 32px;
    }
    
}
.related_thumb{
    margin-bottom: 20px;
}
.related_content{
    & h3{
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        margin-bottom: 5px;
        & a{
           color: $fonts_color6;
            &:hover{
                color: $secondary_color;
            }
        } 
    }
    & span{
        color: #a7a7a7;
        font-size: 13px;
        line-height: 17px;
        & i{
            margin-right: 3px;
        }
    }
}

.blog_details {
    & .blog_sidebar{
         @media #{$tablet-device}{
          margin-bottom: 0;
        }
        @media #{$large-mobile}{
          margin-bottom: 0;
        }
    }
    
}
.single_related{
    @media #{$large-mobile}{
      margin-bottom: 24px;
    }
}
.single_related.column_3{
    @media #{$tablet-device}{
       margin-top: 24px;
    }
    @media #{$large-mobile}{
      margin-bottom: 0;
    }
}


/*blog details css end*/



