/* 13. cart page css here */
.header_cart_page{
    border-bottom: 1px solid $grey_color;
}
.other_bread {
	padding-top: 41px;
	padding-bottom: 41px;
}

.table_desc{
    border: 1px solid $grey_color;
	margin-bottom: 70px;
	margin-top: 2px;
    @media #{$large-mobile}{
        margin-bottom: 60px;
    } 
    & .cart_page{
        & table{
            width: 100%;
            & thead{
                & tr{
                    & th{
                        min-width: 10px;
                        border-bottom: 3px solid $secondary_color13;
                        border-right: 1px solid $grey_color;
                        color: $white;
                        background-color: $fonts_color6;
                        font-size: 16px;
                        font-weight: 700;
                        font-family: $Rubik;
                        text-transform: capitalize;
                        padding: 10px;
                        text-align: center;
                    }
                }
            }
            & tbody{
                & tr{
                    & td{
                        font-family: $Rubik;
                        border-bottom: 1px solid $grey_color;
                        border-right: 1px solid $grey_color;
                        text-align: center;
                        padding: 10px;
                        &.product_remove{
                            width: 90px;
                            & a{
                                font-size: 20px;
	                            color: $white;
                                &:hover{
                                    color:  $secondary_color13;
                                }
                            }
                        }
                        &.product_thumb{
                            max-width: 180px;
                       
                        }
                        &.product_name{
                            min-width: 180px;
                            & a{
                                color: $white;
                                text-transform: capitalize;
                                font-size: 14px;
                                font-weight: 400;
                                &:hover{
                                    color:  $secondary_color13;
                                }
                            }
                            small{
                                color: $white;
                            }
                        }
                        
                        &.product-price{
                            min-width: 130px;
                            color: $white;
                            font-size: 16px;
                            font-weight: 500;
                        }
                        &.product_quantity{
                            min-width: 180px;
                            & label{
                                color: $white;
                                font-weight: 700;
                                margin-right: 5px;
                            }
                        }
                        &.product_total{
                            min-width: 120px;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
} 

.cart_page table thead tr:last-child th,.table_desc table tbody tr td:last-child{
    border-right: 0;
}
.coupon_inner{
    padding: 10px 20px 25px;
    & p{
        color: $fonts_color;
        font-size: 13px;
        margin-bottom: 20px; 
    }
    & button{
        background: $fonts_color2;
        border: 0;
        color: $white;
        display: inline-block;
        font-size: 12px;
        font-weight: 600;
        height: 38px;
        line-height: 18px;
        padding: 10px 15px;
        text-transform: uppercase;
        cursor: pointer;
        @include transition(.3s);
        border-radius: 3px;
        &:hover{
            background:  $secondary_color;
        }
    }
    & input{
        border: 1px solid $grey_color;
        height: 42px;
        background: none;
        padding: 0 20px;
        margin-right: 20px;
        color: $fonts_color;
        @media #{$large-mobile}{
           margin-bottom: 24px;
            width: 100%;
        }
        @media #{$tablet-device}{
           margin-bottom: 24px;
            width: 100%;
        }
        
    }
    & a{
        display: block;
        text-align: right;
        color:  $secondary_color;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 20px;
        border-bottom: 1px solid $grey_color;
        padding-bottom: 10px;
        border-radius: 3px;
    }
}


.coupon_code {
    &.left{
        @media #{$large-mobile}{
           margin-bottom: 59px;
        }
    }
	border: 1px solid $white;
    & h3{
        border-bottom: 3px solid $secondary_color13;
        color: $white;
        line-height: 37px;
        padding: 5px 15px;
        background: $fonts_color6;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        font-family: $Rubik;
        @media #{$large-mobile}{
           line-height: 28px;
            padding: 5px 15px;
            font-size: 15px;
        }
    }
}

.cart_subtotal {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
    & p{
        color: $white;
        font-weight: 600;
        font-size: 14px;
        &.cart_amount {
            font-size: 18px;
	        font-weight: 500;
             @media #{$large-mobile}{
                font-size: 14px;
            }   
        }
        & span{
            margin-right: 30px;
        }
    }
}



.checkout_btn{
    text-align: right;
    & a{
        background: $fonts_color6;
        color: $white;
        font-size: 16px;
        padding: 3px 14px;
        line-height: 30px;
        font-weight: 500;
        display: inline-block;
        text-transform: capitalize;
        margin-bottom: 0;
        &:hover{
            background: $secondary-color13;
        }
    }
}

.coupon_area{
   margin-bottom: 70px;
    @media #{$large-mobile}{
        margin-bottom: 60px;
    }
}

.current_price{
    color: $white;
}

.old_price{
    color: $fonts_color;
    text-decoration: line-through;
}